:root {
   /* Light Mode */
  --bg-color: white;
  --text-color: white;
  --accent-color: lightsteelblue;
  --sceondary-accent: rgb(198, 218, 246);
  --secondary-bg: rgb(163, 163, 163);
  --hover-color: lightgrey;
  --left-gradient: grey;
  --shelf-top: rgb(115, 115, 115);
  --shelf-bottom: rgb(97, 97, 97);
  --border-color: rgb(116, 116, 116);
  --shadow-color: rgba(0, 0, 0, 0.3);
}

/* Dark Mode */
[data-theme="dark"] {
  --bg-color: #2f2f36;
  --text-color: #f1efe3;
  --accent-color: #6a7ca3; 
  --sceondary-accent: #798db8;
  --secondary-bg: #2a2a33;
  --hover-color: #34343f;
  --left-gradient: #1e1e24;
  --shelf-top: #383b40;
  --shelf-bottom: #2b2d31;
   --border-color: #1d1e21;
  --shadow-color: rgba(0, 0, 0, 0.6);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color); 
}

.App {
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  font-family: 'Georgia', serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-bg);
  color:var(--text-color);
  padding: 15px;
  box-shadow: 0 3px 10px var(--shadow-color);
  margin: auto;
  font-family: 'Georgia', serif;
}

.main-title {
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.top-right-buttons {
  display: flex;
  gap: 15px;
}

.top-right-buttons button {
  background: var(--left-gradient);
  border: none;
  color: var(--text-color);
  padding: 10px 18px;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Georgia', serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

.top-right-buttons button:hover {
  background: var(--hover-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px var(--shadow-color);
}

/* Books + shelf section */
.shelf-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  position: relative;
}

/* Book row */
.book-row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  position: relative;
  margin-top: 0px;
  z-index: 2;
}

.second-row {
  margin-top: 30px;
}

.book {
  position: relative;
  width: 120px;
  height: 160px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.4s ease;
  z-index: 2;
}

.book:hover {
  transform: translateY(-8px);
}

.cover, .pages {
  position: absolute;
  width: 120px;
  height: 160px;
  border-radius: 4px;
  transform-origin: left;
  box-shadow: 0 6px 12px var(--shadow-color);
  backface-visibility: hidden;
}

/* Front cover */
.cover.front {
  background: linear-gradient(135deg, var(--accent-color), var(--sceondary-accent));
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-family: 'Georgia', serif;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 2px solid var(--left-gradient);
}

/* Back cover */
.cover.back {
  left: 0;
  width: 130px;
  height: 170px;
  background: var(--accent-color);
  z-index: -2;
}

.pages {
  margin-top: 4px;
  background: var(--text-color);
  width: 118px;
  left: 1px;
  z-index: -1;
}

.pages::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 5px;
  opacity: 0.2;
}

/* Book open animation */
.book.open .cover.front {
  animation: openBook 2s forwards ease-in-out;
}

@keyframes openBook {
  0% { transform: rotateY(0deg) }
  40% { transform: rotateY(-120deg); }
  100% { transform: rotateY(-180deg); }
}

.book-clone {
  width: 120px;
  height: 160px;
  border-radius: 4px;
  box-shadow: 0 6px 12px var(--shadow-color);
  perspective: 1000px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.book-clone .cover.front {
  transform-origin: left center;
  transform: perspective(800px) rotateY(0deg);
  transition: transform 1s ease-in-out;
}

.book-clone.open .cover.front {
  transform: perspective(800px) rotateY(-160deg);
}

.viewport {
  transform-origin: center center;
  will-change: transform;
  display: inline-block;
}

.viewport.zoomed-in {
  transform: scale(200); 
}

/* Book Search button*/
.search-launch-button {
  text-decoration: none;
  display: block;
  width: 50%;
  max-width: 400px;
  background-color: var(--accent-color);
  color: var(--text-color);
  font-family: 'Georgia', serif;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 15px 25px;
  margin: 30px auto; /* Centers the button */
  border: 1px solid var(--border-color);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px var(--shadow-color);
  transition: all 0.3s ease;
}

/* Shelf */
.shelf {
  width: 80%;
  max-width: 900px;
  height: 25px;
  background: linear-gradient(90deg, var(--shelf-top), var(--hover-color) );
  border-radius: 5px;
  box-shadow: 0 10px 20px var(--shadow-color);
  margin-top: 10px; 
  z-index: 1;
  position: relative;
}

.shelf::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 8px;
  background: var(--shelf-bottom);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bookshelf {
  width: 1050px;
  height: 800px;
  border-radius: 10px;
  background: linear-gradient(90deg, var(--left-gradient) 0%, var(--secondary-bg) 100%);
  color: var(--text-color);
  border: 4px solid var(--border-color);
  box-shadow: 0 4px 8px var(--shadow-color);
  padding: 20px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
  margin-left: 75px;
  margin: 20px auto;
  font-family: 'Georgia', serif;
  font-size: 1.3rem;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-delay-1 {
  transition-delay: 0.3s;
}

.fade-delay-2 {
  transition-delay: 0.6s;
}

.fade-delay-3 {
  transition-delay: 1s;
}

.fade-delay-4 {
  transition-delay: 1.5s;
}

.fade-delay-5 {
  transition-delay: 2s;
}

.Info-box {
  width: 1400px;
  height: 400px;
  border-radius: 10px;
  background: linear-gradient(90deg, var(--left-gradient) 0%, var(--secondary-bg) 100%);
  color: white;
  border: 4px solid var(--border-color);
  box-shadow: 0 4px 8px var(--shadow-color);
  padding: 20px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
  transform: translate(50px, 20px);
  font-family: 'Georgia', serif;
  font-size: 1.3rem;
}

.body {
    background-color: var(--left-gradient); 
    margin: 0; 
    padding: 0;
    font-family: 'Georgia', serif;
}


.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    width: 600px;
    border-radius: 10px;
    opacity: 80%;
    background: var(--left-gradient);
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: var(--text-color);
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: var(--text-color);
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #eaeaea;
    font-size: 18px;
}

.forgot-password span{
    color: #B0C4DEFF;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #1d1e21;
    background: var(--bg-color);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.submit-only-container {
    display: flex;
    justify-content: center; 
    margin: 20px auto;
}

.gray{
    background: var(--sceondary-accent);
    color: #1d1e21;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--border-color); 
  transition: 0.4s;
  border-radius: 28px;
}

/* The circle */
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: var(--bg-color); 
  transition: 0.4s;
  border-radius: 50%;
}

/* Checked state */
input:checked + .slider {
  background-color: var(--shadow-color); 
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.dark-mode-toggle {
  position: fixed;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  z-index: 1000;
}


